@font-face {
font-family:"mexica";
src:url("https://github.com/rbdzeiro/fonte.css/blob/main/mex.woff2") format("woff2"),
url("https://github.com/rbdzeiro/fonte.css/blob/main/mex.woff") format("woff"),
url("https://github.com/rbdzeiro/fonte.css/blob/main/mex.eot") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

.tk-mexica {
  font-family: "mexica", "roboto";
}
